
body{
	font: 15px/1.5 ;
	font-family: /*Open Sans,*/ Helvetica, sans-serif;
	margin: 0px;
	background-color:white;
	box-sizing: border-box;
	min-height: 100%;
	background-color: #fbf9e6;
}


/*------------------ Header------------------------- */

header a{
	text-decoration: none;
	font-size: 16px;
	color: white;
}

a {
	color: black;
	font-size: 16px;
	text-decoration: none;
}

header ul{
  margin: 0px 5px 20px 0px;
  padding: 0px;
}

header li{
	margin-top: 10px;
	float: right;
	display: inline;
	padding: 0px 10px 10px 10px;

}



a:hover {
	color: #e74c3c;
	font-size: 20px;
}

#container {
    max-width: 98%;
    margin: 0px 10px 0px 10px;
    padding: 0 1.5em;
    overflow: hidden;
    background-color: #8d021f;
    color: white;
    font-family: Comic Sans MS, Helvetica, sans-serif;
    
}



/* ----------------------- Showcase ----------------------------------- */

    #showcase{
	margin-top: 100px;
	min-height: 450px;
	background: url('ben-kolde-unsplash.jpg') ; /*10px -20px*/
	background-size: cover ;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: black;
	border-top: #e74c3c 3px solid;  /*<<<<<<<<<<< Orange color HERE!*/
	text-align: center;
	margin: 0px 10px 10px 10px;
	padding: 10px 30px 30px 30px; 
	
}

#showcase h2{
font-family: Comic Sans MS, Helvetica, sans-serif;
	margin:80px 10px 10px 40px  ;
	font-size: 40px;
	color: #8d021f;
}

/* -------------------------------- Body --------------------------------- */


    
 .container{
    width: 98%;
    margin: 10px;
    padding: 0 1.5em;
    overflow: hidden;
    height: 100%;
    align-content: center;
    }

.container2{
	border: 
	/*   margin: 10px 10px 10px 10px;
    padding: 0 1.5em;
    overflow: hidden;
    border-top:  3px solid #8d021f;
    height: 100%;*/
}


#left{
	margin: 10px 10px 10px 30px;
	padding: 10px 10px 10px 10px;
	float: left;
	width: 40%;
	height: 100%;
	/*border: 1px solid #8d021f;*/
	padding: 50px 10px 70px 10px;
	text-align: center;
	font-family: Comic Sans MS, Helvetica, sans-serif

}



#left img{
	
	border-radius: 50%;
	width:250px;
	border: 2px solid white;
	box-shadow:0px 10px 20px black;
	
}

#left h2{
}

/*-------------------------- right -------------------------*/

#right{
	margin: 10px 10px 10px 30px;
	padding: 10px 10px 50px 10px;
	float: right;
	width: 40%;
	height: 100%;
	/*border: 1px solid #8d021f;
	padding: 50px 10px 90px 10px;*/
	text-align: center;
	font-family: Comic Sans MS, Helvetica, sans-serif;

}

#right .p{
	font-family: Helvetica, sans-serif;
	line-height: 1.7;

}
.progress-bar{
	background-color: #e74c3c !important ;
	border-radius: 16px;
	height: 20px;
	box-shadow:0px 5px 10px black;
}
 .progress{

 }

#right h2{
	color: #8d021f;
}

.Skillbar p{
	text-align: left;
	font-weight: bold;
}
/* ----------------------------- Resume -------------------------------- */

.resume{
	margin-left: 20px;
	margin-right: 10px;
	border-top: 3px solid #8d021f;
	width: 98%;
	display: flex;
    flex-wrap: wrap;
}

.projects{
	margin-left: 20px;
	margin-right: 10px;
	border-top: 3px solid #8d021f;
	width: 98%;
	display: flex;
    flex-wrap: wrap;
}

.contact{
	margin-left: 20px;
	margin-right: 10px;
	border-top: 3px solid #8d021f;
	width: 98%;
	padding-top: 100px;
	padding-bottom:100px;
    background:url('jared-brashier-unsplash.jpg');
	background-size: cover ;
	background-position: center;
	background-attachment: fixed;

}

#gradient{
	background-color: black ;
	opacity: 0.5;
}

/*

.resume h2{
 margin-bottom: 50px;
 text-align: center;
} */

.ex{
	list-style-type: none;
	position: relative;

}
 
 .ex:before {
 	content: '';
 	background: #e74c3c;
 	display: inline-block;
 	position: absolute;
 	left: 27px;
 	width: 2px;
 	height: 100%;
 	z-index: 1;
 }

.ex li{
margin-top: 0px;
margin-bottom: 0px
margin-left:10px ;


}
 
.ex h3{
background-color: #e74c3c;
padding: 5px 0px 5px 10px;
column-rule-color: #fff;
font-size: 15px;
font-family: Comic Sans MS, Helvetica, sans-serif;
box-shadow:0px 5px 10px black;
/*color: white;*/

} 

.ex li p{
	padding-bottom: 10px;
	padding-left: 10px;
	font-family: Helvetica, sans-serif;
	line-height: 1.7;
}

.ex li:before{
content: '';
background: #FBEEE6;
display: inline-block;
position: absolute;	
border-radius: 60%;
border: 3px solid #e74c3c ;
left:15px;
width: 16px;
height:16px;
z-index: 1;
box-shadow:0px 5px 10px black;
}

.column{
    max-width: 40%;
    margin: 5px 5px 5px 5px;
    float: left;
}

.columnr{
    max-width: 40%;
    margin: 5px 5px 5px 5px ;
    float: right;
}



/*------------------------------Services-------------------------------*/
/*
.service{
 border:1px solid green;
	padding-top: 10px;
	padding-bottom: 10px;



.service h2{
	margin-bottom: 10px;
}

.col-md-4{
	width: 25%;
	padding: 10px;
	margin-top: 2px;
	background: white;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border:1px solid black;
}

.service-box span{
	margin: 3px;
	font-size: 20px;
	font-weight: bold;
}}*/
  
/*-------------------- BOX -------------------------------*/
 #boxes .box{
 	margin: 10px;
 	float: left;
 	width: 29%;
 	padding: 10px;
 	text-align:center;
 }

  #bigbox{
 	width: 80%;
	margin: auto;
	overflow: hidden;
	padding-bottom: 5px;
	padding-top: 5px;

}

 

 #bigbox h2{
 	font-family: Comic Sans MS, Helvetica, sans-serif;
 	text-align: center;
 	padding: 10px 10px 10px 10px;
 	margin: 10px 10px 25px 10px;
}

#bigbox h3{
	text-align: center;
}
  .box{
 	width: 40%;
	height: 100%;
	color: white;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	

 }

 /*-------------------- BOX 3--------------------------------*/

.box3{
 	width: 30%;
	height: 100%;
	color: black;
	border-radius: 40px;
	/*background-color: #e74c3c;*/
	background-image: 
	
 }

#boxes .box3{
 	margin: 10px 10px 90px 10px ;
 	float: left;
 	width: 20%;
 	padding: 10px;
 	text-align:left;
 	border: 1.5px solid #e74c3c;
 	box-shadow:0px 5px 10px black;
 }

/*-------------------- BOX 2--------------------------------*/

 .box2{
 	width: 40%;
	height: 100%;
	color: black;
	border-radius: 10px;
	box-shadow:0px 5px 10px black;
	background-color: #e74c3c;
	

 }
#boxes .box2{
 	margin: 10px 10px 70px 50px ;
 	float: left;
 	width: 40%;
 	padding: 10px;
 	text-align:left;
 }

/*---------------------------BOX 4 --------------------------------------*/

#bigbox4{
 	width: 80%;
	margin: auto;
	overflow: hidden;
	padding-bottom: 5px;
	padding-top: 5px;

 }

 #bigbox4 h1{
 	text-align: center;
 	color: white;
 	font-family: Comic Sans MS, Helvetica, sans-serif;
 }

 #bigbox4 h3{
 	text-align: center;
 	color: white;

 }

 
 .box4{
 	width: 30%;
	height: 100%;
	color: white;
	border-radius: 10px;
	border: 2px solid #8d021f;
	 background: none;
 }

.box4 a{
 	color: white;
 	text-align: center;
 }

#boxes .box4{
 	margin: 10px 10px 10px 50px ;
 	float: left;
 	width: 40%;
 	padding: 10px;

 }


/* --------------------------- Footer --------------------------------- 

footer a{
	text-decoration: none;
	font-size: 16px;
	color: white;

}

footer ul{
  margin: 0px 5px 20px 0px;
  padding: 0px;
}

footer li{
	margin-top: 10px 5px;
	float: ;
	display: inline;
	padding: 0px 10px 10px 10px

}*/



